.secondSection {
  background-color: tomato;
}

.secondSection > h2 {
  color: white;
}
#listTitle {
  font-size: 1.2em;
  color: blueviolet;
}
div h2 {
  color: blue;
}
div + p {
  color: plum;
}
footer {
  height: 100px;

  right: 0px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
h1 {
  width: 100vw;
  position: sticky;
  top: 10px;
  background-color: white;
}
#absolute {
  position: absolute;
  top: 5 0px;
}
#rel {
  position: relative;
  top: 5px;
  left: 5px;
}
img {
  float: left;
}
#img2 {
  display: none;
}
